.contactFormSection {
    position: relative;
    padding-top: 40px;
    background-color: #10101C;
}

.contactFormDescriptionThumb {
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
}
@media screen and (min-width: 767px) {
    .contactForm {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 80%;
         
            margin: 0 auto;
    }
}
.contactFormTitle {
   
color:  #FFF;
    text-align: center;

    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 36px;
    margin-bottom: 10px;
   
}
.contactInfoDescription{
    color:  #FFF;
        text-align: center;
    
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
      margin-bottom: 42px;
}

@media screen and (max-width: 767px) {
    .contactLabel {
    display: flex;
    flex-direction: column;
color:  #FFF;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  
}
}
@media screen and (min-width: 767px) {
    .contactLabel {
        display: flex;
            flex-direction: column;
            color: #FFF;
            
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
            width: calc(50% - 30px);
   
    }
}
@media screen and (max-width: 480px) {
    .separateLabel {
            display: flex;
                flex-direction: column;
                color: #FFF;
            
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;

    }

}
@media screen and (min-width: 767px) {
    .separateLabel {
        width: 100%;

    }

}
@media screen and (max-width: 767px) {
.contactInput {
    padding: 12px 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #8d8d8d;
    color: #bdbdbd;
    background-color: transparent;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 32px;
}
}
@media screen and (min-width: 767px) {
    .contactInput {
        padding: 12px 0;
        border: 1px solid transparent;
        border-bottom: 1px solid #8d8d8d;
        color: #bdbdbd;
        background-color: transparent;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        margin-bottom: 32px;
    }
}

.contactInput:not(:last-child) {
    margin-bottom: 32px;
}

.contactInput:last-child {
    margin-bottom: 63px;
}

.submitContactFormBtn {
    display: block;
    margin: 0 auto;
    color: #fff;
    padding: 12px 20px;
    width: 60%;
    border-radius: 8px;
    background-color: #9C8D7F;
    border: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 81px;
}

@media screen and (max-width: 480px) {
    .notificationThumb {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        width: 80%;
        box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.08), 0px 8px 8px -4px rgba(16, 24, 40, 0.03);
        border-radius: 12px;
        padding: 36px 24px 24px 24px;
        z-index: 100;
    }
}

@media screen and (min-width: 480px) and (max-width:1200px) {
    .notificationThumb {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -30%);
        background-color: #fff;
        width: 375px;
        box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.08), 0px 8px 8px -4px rgba(16, 24, 40, 0.03);
        border-radius: 12px;
        padding: 36px 24px 24px 24px;
        z-index: 100;
    }
}

@media screen and (min-width: 1200px) {
    .notificationThumb {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        width: 375px;
        box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.08), 0px 8px 8px -4px rgba(16, 24, 40, 0.03);
        border-radius: 12px;
        padding: 36px 24px 24px 24px;
        z-index: 100;
    }
}

.notificationText {
    color: var(--Gray-900, #101828);

    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 10px;
}

.notificationDescription {
    color: var(--Gray-600, #475467);
text-align: centerx;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;

}

.notificationCloseIcon {
    position: absolute;
    left: 92%;
    top: 5%;
}