.embla {
    /* max-width: 48rem; */
    margin: auto;
    --slide-height: 19rem;
    --slide-size: 40%;
}

.embla__viewport {
    overflow: hidden;
}

.embla__container {
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
   display: flex;
    padding-left: var(--slide-spacing);

}

   
.reviewsControlsThumb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 44px;
}
@media screen and (max-width: 767px) {
.controlsButtonsThumb{
    margin-right: 20px;
    display: flex;
}}
@media screen and (min-width: 767px) {
    .controlsButtonsThumb {
        display: flex;
        margin-right: 60px;
    }
}
@media screen and (max-width: 480px){
.reviewsTitle {
        color: #fff;
        font-size: 24px;
        font-style: normal;
        font-weight: 800;
        line-height: 24px;
        margin-right: 26px;
    }
}
@media screen and (min-width: 480px) {
.reviewsTitle {
    color: #fff;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 36px;
    margin-right: 72px;
}
}

.reviewsArrowsThumb {
    display: flex;
}


.reviewsList {
        flex: 0 0 var(--slide-size);
            padding-left: var(--slide-spacing);
}
@media screen and (max-width: 767px){
.reviewItem {
    width: 200px;
    margin-right: 24px;
    border-radius: 20px;
    background: #fff;
    padding: 32px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
        0px 0px 6px 0px rgba(0, 0, 0, 0.07);
}
}
@media screen and (min-width: 767px){
    .reviewItem {
            width: 260px;
            margin-right: 24px;
            border-radius: 20px;
            background: #fff;
            padding: 32px;
            box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
                0px 0px 6px 0px rgba(0, 0, 0, 0.07);
        }
}
.reviewText {
    color: #000;
height: 70%;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 16px;
}

.reviewCustomerThumb {
    display: flex;
    align-items: center;
}

.reviewCustomerIcon {
    margin-right: 16px;
}

.customerDetailsThumb {
    display: flex;
    flex-direction: column;
}

.customerName {
    color: #000;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 2px;
}

.customerRole {
    color: #475569;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;

}