.videoSection {
    background-color: #10101C;
    padding: 79px 0px;
}

@media screen and (min-width: 1200px) {
    .aboutVideoThumb {
        display: flex;

    }
}

@media screen and (min-width: 1200px) {
    .videoThumb {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    .aboutVideo {
        display: block;
        margin: 0 auto;
        width: 80%;
        height: 40%;
        margin-bottom: 72px;
    }
}

@media screen and (min-width: 1200px) {
    .aboutVideo {
        display: block;
        margin: 0 auto;
        width: 834px;
        height: 503px;
        margin-bottom: 72px;
    }
}

@media screen and (max-width: 1200px) {
    .aboutVideoThumbDesktop {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .aboutVideoThumbDesktop {

        display: block;
    }
}


.videoContainer {
    position: relative;
    max-width: 800px;
    margin: auto;
}

.videoElement {
    width: 100%;
    height: auto;
}

.controls {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.playButton,
.pauseButton {
    background-color: #0070f3;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.playButton:hover,
.pauseButton:hover {
    background-color: #005bb5;
}